/* work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */
* {
    font-family: 'Work Sans', sans-serif;
}

nav {
    background: #FFF;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    max-width: 1440px;
    min-height: 130px;
    margin: 0px auto;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-container {
    display: flex;
    width: 30%;

}

.logo-container img {
    margin-right: 20px;
}

.logo-container p {
    /* text-align: center; */
    font-size: 20px;
    font-weight: 700;
}

.logo-container p .span {
    color: #FF42A5;
}

.nav-items-container {
    display: flex;
}

.nav-items-container a {
    text-decoration: none;
    padding: 20px;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.nav-item-three {
    background: rgba(11, 2, 35, 0.10);
}







/* banner section start */

.banner-container {
    margin: 50px auto 0;
    max-width: 1100px;
    min-height: 30px;
    display: flex;

}

.banner-text {
    width: 50%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 80px;
}

.banner-text p {
    color: #0B0223;
    margin: 0px auto;
    font-size: 48px;
    font-weight: 600;
}

.banner-text h1 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 65px;
    font-weight: 800;
}

.banner-descrip p {
    color: #534C64;
    font-size: 15px;
    font-weight: 500;
    padding-top: 0px;
    padding-bottom: 15px;


}

.banner-img {

    width: 50%;
}

.banner-img img {
    width: 100%;
    height: auto;
}

.btn-one {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
    padding: 21px 43px;
    margin-right: 21px;

}

.btn-two {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
    padding: 21px 43px;
}


/* gamer section start */
.gamer {
    margin: 50px auto 0;
    max-width: 1100px;
    min-height: 30px;
    display: flex;
}

.gamer-img {
    width: 60%;
    align-items: center;
}

.gamer-img img {
    width: 100%;
    height: auto;
}

.gamer-content {
    width: 40%;
    text-align: right;
}

.gamer-title {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamer-descrip {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.gamer-title-two {
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
    /* 187.5% */
}





/* online style start */

.online-container{
    margin: 50px auto 0;
    max-width: 1100px;
    min-height: 50px;
    padding-left: 120px;
    padding-right: 120px;
}
.online-title{
    color: #0B0223;
text-align: center;
font-size: 48px;
font-weight: 700;
}
.spantwo{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 48px;
font-weight: 700;
}
.online-descrip{
    text-align: center;
    color: #534C64;
font-size: 18px;
font-weight: 400;
}
.card-container .card{
    border-radius: 16px;
border: none
}

.card-container{
    display: flex;
    gap: 25px;
    
}
.card-title{
    color: #534C64;
font-size: 15px;
font-weight: 500;
}

 .card img{
    width: 270px;
height: 350px;
margin-bottom: 0px;
} 


.play{
    margin: 50px auto 0;
    max-width: 1100px;
    min-height: 50px;
    display: flex;
    
}
.play-content{
width: 70%;
text-align: right;
padding-right: 200px;

}
.play-title{
    color: #0B0223;
font-size: 18px;
font-weight: 700;
line-height: 60px;
}
.Play-Instantly{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: right;
font-size: 28px;
font-weight: 700;
line-height: 60px; /* 125% */
}
.play-descrip{
    color: #534C64;
text-align: right;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
.play-img {
    width: 40%;
    height: auto;
    position: relative;
}
.play-img .seven{
    width: 100%;
}
.eight{
    position: absolute;
    left: -100px;
    bottom: -80px;
height: 150px;
width: 150px;
}




.box-container{
    min-height: 200px;
    margin: 100px auto 0;
    max-width: 1100px;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    
}

.box{
    display: flex;
    flex-basis: 200px;
    align-items: center;
border-radius: 50px;
background: #FFF;
padding: 10px;

}
.box img{
    width: 30px;
    height: 30px;
    padding-right: 15px;
}
.box:hover{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;;
    outline:1px solid #FF42A5 ;
}





.foot{
    background: #0B0223;
    text-align: center;
}
.footer-logo{
    align-items: center;
    justify-content: center;
    display: flex;
}
.spanthree{

    text-align: center;
font-size: 45px;
font-weight: 700;
background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.footer-logo p{
    color: #FFF;
font-size: 45px;
font-weight: 700;
}
.footer-link-one  li
{
list-style: none;
padding-right: 80px;
}
.footer-link-one a{
    text-decoration: none;
    color: #FFF;
text-align: center;
font-size: 18px;
font-weight: 600;
}
.footer-link-one{
    padding: 20px;
    display: flex;
    justify-content: center;
}
.brands{
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}
.brands li{

    list-style: none;
    padding: 10px;
}
.brands i {
    width: 100px;
height: 100px;
}
.footer-link-two{
    display: flex;
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-size: 16px;
font-weight: 500;
justify-content: center;
align-items: center;
}
.footer-link-two li{
    list-style: none;
    padding-right: 60px;
}





/* mobile device responsive */
@media screen and (max-width:425px) {
    .nav-container {
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .nav-items-container {
        flex-direction: column;
    }

    .nav-item-one {
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .logo-container{
        padding-right: 100px;
    }
    .nav-item-two{
        padding-top: 0px;
        padding-bottom: 30px;
    }

    /* banner starts here */
    .banner-container {
        flex-direction: column-reverse;

    }

    .banner-text,
    .banner-img {
        width: 100%;
    }

    .banner-text p {
        padding-top: 30px;
        font-size: 45px;
    }

    .banner-text h1 {
        font-size: 45px;
    }
.banner-descrip p{
    font-size: 15px;
    padding-bottom: 10px;
}
    .btn-one {
        margin-bottom: 10px;


    }

    .gamer {
        flex-direction: column;
        padding: 10px;
    }

    .gamer-content,
    .gamer-img {
        width: 100%;
    }

    .gamer-content {
        text-align: center;
        padding: 20px;
    }

    .gamer-title {
        font-size: 30px;
        text-align: center;
    }

    .gamer-descrip {
        font-size: 10px;
    }

.online-container{
    padding: 10px;
}
    .card-container{
        flex-direction: column;
        
    }
    .online-title,
    .spantwo{
    font-size: 28px;
    
    }
   .online-descrip{
    font-size: 15px;
    padding-top: 5px;
   }
   .card{
    padding-left: 70px;
   }



    .play {
        flex-direction: column;
        
    }

    .play-content,
    .play-img {
        width: 100%;
    }

    .play-content {
        text-align: center;
       
        padding-left: 50px;
    }

    .play-title {
        font-size: 35px;
    }

    .play-descrip {
        font-size: 15px;
        padding-right: 70px;
    }
    .play-img .seven{
        width:40%;
        padding-left: 180px;
    }
    .eight{
        position: absolute;
        left: 120px;
        bottom: -40px;
    height: 110px;
    width: 110px;
    }

    
    
    .box-container{
        
        flex-direction:column;
        flex-wrap: wrap;
    }
    .box{
        margin-left: 20px;
        margin-right: 20px;
    }
}


.footer-link-one{
    flex-direction: column;

}



/* tablet/medium devices */
@media screen and (min-width:576px) and (max-width:768px) {
    .nav-container {
        flex-direction: column;

        /* justify-content: space-around; */
    }

    .nav-items-container {
        display: flex;
    }


    .gamer-content,
    .gamer-img {
        width: 100%;
    }

    .gamer-content {
        text-align: center;
        
    }

    .gamer-title {
        font-size: 27px;
    }

    .gamer-descrip {
        font-size: 15px;
    }
}